@keyframes slide-in {
  30% {
    transform: translateY(25px);
  }
  40% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-500px);
  }
}

.container {
  margin: 0 auto;
  display: flex;
  width: 95vw;
  gap: 20px;
  padding: 30px 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0;
  margin-top: 20px;
}

.alert {
  position: absolute;
  top: 80px;
  width: 70vw;
  box-sizing: border-box;
  padding: 20px 40px;
  background-color: #4dd784;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  transform: translateY(-500px);
  left: calc(50% - 35vw);
  border-radius: 10px;
  z-index: 5;
  animation-name: slide-in;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.allProjects {
  color: white;
  font-size: 1.4rem;
  margin: 0 auto;
  font-style: italic;
  padding: 20px;
}
