.error {
  position: absolute;
  top: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  a {
    color: black;
    padding: 20px;
    background-color: rgba(214, 209, 209, 0.587);
    border-radius: 10px;
  }
}
