.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}
nav > a {
  text-decoration: none;
  color: #f1faee;
  :active {
    text-decoration: none;
  }
}
.sortOptions {
  display: flex;
  gap: 35px;
  justify-content: center;
  font-size: 1.2rem;
  align-items: center;
  display: none;

  img {
    height: 25px;
    width: auto;
  }

  button {
    border: none;
    cursor: pointer;
    opacity: 0.7;
    transition: ease-in-out 0.25s;

    :hover {
      opacity: 1;
      font-size: 1.2rem;
      text-decoration: underline;
    }
  }
}
.newProjectBtn {
  background: none;
  border: none;
  cursor: pointer;
}
