@keyframes slide-in {
  0% {
    transform: translateY(1000px);
  }
  90% {
    transform: translateY(-20px);
    transform: scaleY(1.1);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes slide-out {
  0% {
    transform: translateY(0px);
  }

  10% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(1000px);
  }
}

.newProjectPopup {
  position: absolute;
  top: 25vh;
  left: 0;
  height: 75vh;
  background-color: lightpink;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 6;
}

.slideOut {
  animation-name: slide-out;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

.slideUp {
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: alternate;
  // display: none;
}

.title {
  height: 50px;
  background: #d9d9d9;
  width: 100%;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  padding: 0 25px;
  box-sizing: border-box;
  font-size: 22px;
}
.closePopup {
  position: absolute;
  font-size: 1rem;
  top: 10px;
  right: 10px;
  background-color: rgb(0 0 0 / 0%);
  border: none;
}
.newProjectOptions {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 20px;
}
.newProjectOptions select,
.newProjectOptions button {
  height: 50px;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
}
