@keyframes slide-in {
  0% {
    transform: translateY(1000px);
  }
  90% {
    transform: translateY(-20px);
    transform: scaleY(1.1);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes slide-out {
  0% {
    transform: translateY(0px);
  }

  10% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(700px);
  }
}

.slideUp {
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: alternate;
  // display: none;
}
.slideOut {
  animation-name: slide-out;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

.newTaskPopup {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 25vh;
  background-color: #f1faee;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  gap: 10px;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  input {
    width: 80%;
    max-width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    padding: 5px;
    font-size: 0.8rem;
    background-color: white;
  }
  label {
    margin: 0;
    margin-top: 10px;
    font-size: 1.1rem;
    // align-self: flex-start;
  }
}

.todoList {
  height: 150px;
  margin: 0 0;
  padding: 0 0;
  width: 80%;
  background-color: white;
  max-width: 300px;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 10px;

  p {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #3f3f3f98;
  }
}
.taskName {
  align-self: center;
}
.todoForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;

  * {
    width: 80%;
  }
}

.todoForm button {
  height: 30px;
  background-color: white;
  border: none;
  opacity: 0.7;
}

.textarea {
  height: 150px;
  resize: none;
  box-sizing: border-box;
  padding: 10px;
  width: 80%;
  max-width: 300px;
  border-radius: 10px;
  border: none;
}
.deleteTaskBtn {
  background-color: rgb(0 0 0 / 0%);
  max-width: 300px;
  width: 80%;
  padding: 15px;
  border: 2px solid rgb(172, 7, 7);
  color: rgb(172, 7, 7);
}
.taskComplete {
  margin-top: 10px;
  background-color: rgb(0 0 0 / 0%);
  border: 2px solid green;
  color: green;
  padding: 15px;
  width: 80%;
  box-sizing: border-box;
  max-width: 300px;
}
.dueDate {
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
}
.todoInputWrapper {
  display: flex;
  width: 80%;
  max-width: 300px;
  justify-content: space-between;
  input {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    background-color: #1d3557;
    color: white;
  }
}

.closePopup {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.2rem;
  background: none;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.3);
  }
}
