.projCard {
  width: 90%;
  max-width: 345px;
  padding: 40px 0px;
  background: linear-gradient(#badcdd, #a8dadc);
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 15px;
  gap: 20px;
  transition: all 0.1s ease-in-out;
}
.editProjCard {
  justify-content: center;
  align-items: center;
  gap: 10px;

  button {
    width: 60%;
    padding: 15px;
    background-color: white;
    border: none;
    border-radius: 10px;
    color: black;
  }
}
.projCardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 25px;

  img {
    height: 10px;
    cursor: pointer;
  }

  button {
    border: none;
    padding: 0 0;
    background-color: #a8dadc00;
  }
}

.projTitle {
  margin: 0 0;
  box-sizing: border-box;
  color: black;
  font-size: 1.2rem;
}
.priorityLevel {
  width: 40px;
  border-radius: 10px;
  height: 10px;
  background-color: red;
}
.taskContainer {
  display: flex;
  gap: 10px;
  height: 40px;
  align-items: center;
  border-bottom: 2px solid black;
  width: 85%;
}
.left {
  color: black;
  text-decoration: none;
  margin: 0 0;
  font-size: 1rem;
}
.right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.taskContainer p {
  margin: 0;
  font-size: 18px;
}
.task {
  display: flex;
  justify-content: space-between;
  width: 75%;
  box-sizing: border-box;
  border-bottom: 2px solid rgba(39, 39, 39, 0.322);
  gap: 10px;
  padding: 20px 0px 10px 0px;
}

.taskList {
  height: 80%;
  width: 90%;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}
.newTaskBtn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin-top: 20px;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.466);
  border: 3px solid rgba(0, 0, 0, 0.288);
  padding: 10px 40px;
  border-radius: 10px;
}
