html,
body {
  padding: 0 0;
  margin: 0 0;
  font-family: sans-serif;
  /* width: 100vw; */
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  background: linear-gradient(#608ac6, #1d3557);
  background-repeat: no-repeat;
  min-height: 100vh;
}
#root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
