html,
body {
  padding: 0px 0px;
  margin: 0 0;
  font-family: sans-serif;
  /* width: 100vw; */
  box-sizing: border-box;
  padding-bottom: 20px;
}
a {
  text-decoration: none;
}
body {
  background: linear-gradient(#608ac6, #1d3557);
  background-repeat: no-repeat;
  min-height: 100vh;
}
#root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.purple {
  background-color: purple;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}

@media (min-width: 475px) {
  :root {
    font-size: 17px;
  }
}

@media (min-width: 640px) {
  :root {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  :root {
    font-size: 19px;
  }
}
